*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer{
    border: 1px solid black;
}

body {
    background-color: #e5e5e5;
    font-family: sans-serif;

}

.contenedor{
    max-width: 90%;
    max-height: 100%;
    background-color: white;
    margin: auto;
    display: grid;
    grid-template-rows: auto auto auto;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

}

.header{
    display: flex;
    max-width: 95%;
}

.header__logo{
    width: 150px;
    height: 100%;
    float: left;
    padding: 8px;
    background-color: #0064ff;
}

.header__nav{
    display: table;
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 1024px;
    max-width: 1600px;
    height: 70px;
    background-color: black;
    z-index: 10;
}

.header__list{    
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
}

.header__item{
    list-style: none;
    padding: 15px 0;
    margin: 10px;
    text-transform: uppercase;
    color: #ccc;
    position: relative;
}

.header__a {
    text-decoration: none;
    color: #ccc;
    font-weight: bold;
}

.header__a::before {
    display: block;
    content: '';
    width: 0%;
    background: #444;
    height: 5px;
    top: 0;
    position: absolute;
    transition: 0.2s;
}

.header__a:hover::before {
    width: 100%;
}

.carousel {
    max-width: 95%;
}

.main{
    max-width: 1540px;
    flex-direction: column;
    background-color: whitesmoke;
    display: flex;
    gap: 30px;
    padding: 20px 30px;
    align-items: center;
    justify-content: center;
}

.main__section{
    display: inline-block;
    padding: 1rem;
    justify-self: center;
}

.main__h1{
    font-size: 5rem;
    text-align: center;
    padding: 1rem;
    
}

.main__p{
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

.main__a{
    font-size: 30px;
    font-weight: bold;
    background-color: white;
    padding: 1rem;
    border: 5px solid black;
}

.section {
    position: relative;
    max-width: 95%;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    border: 10px solid black;
}

.section__img {
    display: block;
    width: 100%;
}

.section__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.section__overlay--blur {
    backdrop-filter: blur(5px);
}

.section__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.section__overlay:hover {
    opacity: 1;
}

.section__overlay:hover > * {
    transform: translateY(0);    
}


.section__tittle {
    font-size: 2em;
    font-weight: bold;
}

.section__descripcion {
    font-size: 1.25em;
    margin-top: 0.25em;
}


.footer{
    max-width: 95%;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 9fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". ."
      ". ."; 
    justify-content: space-around;
    padding: 1rem;
    background-color: coral;
    border: 1rem solid grey;
}

.footer__div{
}

.footer__list{
    grid-column: 1/3;
    list-style: none;
    display: flex;
    justify-self: center;
}


.footer__logo{
    grid-row: 2;
    justify-self: center;
    width: 25rem;
}

.footer__map{
    grid-row: 2;
    grid-column-start: 2;
    justify-self: center;
}


.footer__item{
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* --- MEDIA QUERIES --- */

@media screen and (max-width: 800px) {
    .contenedor{
        max-width: 100%;
    }
}