*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer{
    border: 1px solid black;
}

.contenedor{
    max-width: 1920px;
    margin: auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;

}

.header{
    background-color: #0064ff;
    display: flex;
    align-content: center;
    justify-content: center;
}

.header__logo{
    width: 800px;
}

.header__nav{
    background-color: #262626;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 10px;
    left: 325px;
}

.header__list{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
}

.header__item{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 2rem;
    text-transform: uppercase;
    text-decoration-line: none;
    color: #ccc;
}

.main{
    flex-direction: column;
    background-color: whitesmoke;
    display: flex;
    gap: 30px;
    padding: 20px 30px;
    align-items: center;
    justify-content: center;
}

.main__section{
    display: inline-block;
    padding: 1rem;
    justify-self: center;
}

.main__h1{
    font-size: 5rem;
    text-align: center;
    padding: 1rem;
    
}

.main__p{
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

.main__a{
    font-size: 30px;
    font-weight: bold;
    background-color: white;
    padding: 1rem;
    border: 5px solid black;
}


.video{
    background-color: rgb(0, 0, 0);
    padding: 100px 100px 100px 100px;
    display: flex;
}

.video__div{
    display: inline-block;
}

.video__video{
    display: inline;    
}

.video__p{
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    display: block;
    width: 500px;
    color: brown;
    
}

.section{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    border: 10px solid black;
}

.section__article{
    display: inline-block;
    width: 250px;
    padding: 10px 10px 10px 10px;
    background-color: rgb(83, 0, 0);
    margin: 1rem;
}

.section__img{
    display: inline-block;

}

.section__p{
    font-size: 2rem;
    font-weight: bold;
    display: inline-block;
    text-align: center;

}

.footer{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 9fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". ."
      ". ."; 
    justify-content: space-around;
    padding: 1rem;
    background-color: coral;
    border: 1rem solid grey;
}

.footer__div{
}

.footer__list{
    grid-column: 1/3;
    list-style: none;
    display: flex;
    justify-self: center;
}


.footer__logo{
    grid-row: 2;
    justify-self: center;
    width: 25rem;
}

.footer__map{
    grid-row: 2;
    grid-column-start: 2;
    justify-self: center;
}


.footer__item{
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* --- MEDIA QUERIES --- */

@media screen and (max-width: 768px) {


    .contenedor{
        max-width: 768px;
        margin: auto;
        display: grid;
        grid-template-rows: auto 1fr auto;
        height: 100vh;
    
    }

    .header__nav {
        justify-self: center;
        top: auto;
        left: auto;
    }

    .main {
        flex-direction: column;
    }

    .video {
        flex-direction: column;
    }

    .section {
        flex-direction: column;
        justify-self: center;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-self: center;

    }

}